In [31]:
import pandas as pd
import os

In [2]:
states=['california','texas','florida','new york']
states[-4]
states[1]

'texas'

In [21]:
states=['california','texas','florida','new york']
for i in states:
    print(states)

['california', 'texas', 'florida', 'new york']
['california', 'texas', 'florida', 'new york']
['california', 'texas', 'florida', 'new york']
['california', 'texas', 'florida', 'new york']

In [26]:
for i in states:
    if states == 'florida':
        print(states)

In [20]:
with open('test.txt','w') as file:
    file.write('data successfully scraped!')

In [27]:
population=[4567,7896,7543,9809]
dict_states={'states':states,'population':population}
dict_states

{'states': ['california', 'texas', 'florida', 'new york'],
 'population': [4567, 7896, 7543, 9809]}

In [34]:
df_states=pd.DataFrame.from_dict(dict_states)
df_states

       states  population
0  california        4567
1       texas        7896
2     florida        7543
3    new york        9809

In [36]:
df_states.to_csv('states.csv')

handling exception errors:try-except

In [39]:
new_list=[2,3,6,'new']
for i in new_list:
    try:
        print(i/2)
    except:
        print('this element  is not a number')

1.0
1.5
3.0
this element  is not a number

In [41]:
#while loop
n=4
while n>0:
    print(n)
    n=n-1

4
3
2
1

In [42]:
n=4
while n>0:
    print(n)
    n=n-1
    if n==2:
        break

4
3